.canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* For embedding in chat, you might want a specific size instead */
  /* width: 300px;
  height: 300px; */
}
